.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f5f7;
  width: 100%;
}

.admin-content {
  flex: 1;
  margin-left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  width: calc(100% - 250px);
}

.admin-layout.collapsed .admin-content {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.admin-content-inner {
  padding: 30px;
  flex: 1;
}

@media (max-width: 768px) {
  .admin-content {
    margin-left: 0;
    width: 100%;
  }
  
  .admin-content-inner {
    padding: 20px;
    padding-top: 60px; /* Para hacer espacio al botón del menú hamburguesa */
  }
}
